html {
  max-width: 150ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1em;
}
blockquote {
  margin-left: 0;
}
th {
  text-align: left;
}
table {
  border-collapse: collapse;
}
table td {
  padding: 5px;
}
table th {
  font-weight: bold;
  border: 1px solid #dddfe1;
  padding: 5px;
}
table tbody td {
  border: 1px solid #dddfe1;
}
table tbody tr {
  background-color: #f9fafb;
}
table tbody tr:nth-child(even) {
  background-color: #ffffff;
}
