<section class="summary"> 
  <section class="summary summary_title">
    <a href="{{ .Page.Permalink }}"><b>{{ .Title }} - {{ .Params.host }}</b></a>
  </section>

  <section class="summary summary_desc">
  {{ htmlUnescape .Description | safeHTML | truncate 100 }}
  </section>

  <section class="summary_stats">
  posts: {{ .Params.Posts }} | daily users: {{ .Params.DAU }} | weekly users: {{ .Params.WAU }} | monthly users: {{ .Params.MAU }}
  </section>

  <section class="summary_links">
    [<span id="{{ .Params.name }}{{ .Params.host }}" style="user-select:all">!{{ .Params.name }}@{{ .Params.host }}</span><span onclick="copyBang('!{{ .Params.name }}@{{ .Params.host }}','{{ .Params.name }}{{ .Params.host }}')"> 📋</span>]
  [<a href="{{.Params.actor_id }}">/c/{{ .Params.name }} 🌎</a>]
  [<a href="https://{{ urlize .Params.host }}">{{ .Params.host}} 🌎</a>]
  [<a href="/instances/{{ urlize (replace .Params.host "." "_") }}">more on instance {{ .Params.host }}</a>]
  </section>
</section>
